[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
seaborn = "*"
pandas = "*"
scikit-learn = "*"
statsmodels = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
